https://developer.download.nvidia.com/compute/cuda/repos/{{ distro }}{{ version | default(ansible_distribution_major_version) }}/{{ arch | default(ansible_architecture) }}/cuda-{{ distro }}{{ ansible_distribution_major_version }}.repo