https://us.download.nvidia.com/tesla/{{ driver_version }}/nvidia-driver-local-repo-{{ distro }}{{ version | default(ansible_distribution_major_version) }}-{{ driver_version }}-1.0-1.{{ arch | default(ansible_architecture) }}.{{ extension }}